
/* Main Colors */

$gde-primary: #009CB3;
$gde-secondary: #a4d8e2;

$gde-text: #2f2f2f;
$gde-sub-text: #676767;
$gde-black: #000000;
$gde-white: #ffffff;
$gde-lightgrey: #f7f7f7;
$gde-grey: #E8E8E8;
$gde-mediumgrey: #cccbcb;
$gde-darkgrey: #8E8E8E;
$gde-darkprimary: #00889c;

$gde-offset: #F8F8F8;